@model IEnumerable<EnterpriseManagementApp.Models.Rentals.AssetInvoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Invoices</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OccupancyHistory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmmountPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OccupancyHistory.OccupancyHistoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmmountPaid)
            </td>
            <td>
            @*     <a asp-action="Edit" asp-route-id="@item.AssetInvoiceId">Edit</a> | *@
            @*     <a asp-action="Details" asp-route-id="@item.AssetInvoiceId">Details</a> | *@
            @*     <a asp-action="Delete" asp-route-id="@item.AssetInvoiceId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-info" href="@Url.Action("Index", "CustomerOccupancyHistory")"><i class="fas fa-home"></i> See Your Assets </a>
