@model EnterpriseManagementApp.Models.RentChange

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentChange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RentChangeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
