@model IEnumerable<Payroll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayrollGenerate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateTimeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayrollGenerate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimeHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateTimeHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PayrollId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayrollId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
