@model IEnumerable<EnterpriseManagementApp.Models.Rentals.DamageReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DamageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DamageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DamageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
